<%- include('partials/header') %>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Transaction Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Sender Branch</th>
        <th>Receiver Branch</th>
        <th>Initiated Account</th>
        <th>Receiver Account</th>
      </tr>
    </thead>
    <tbody>
      <% branchReport.forEach(branchActivity => { %>
        <tr>
          <td><%= branchActivity.transaction_id %></td>
          <td><%= branchActivity.type %></td>
          <td><%= branchActivity.amount %></td>
          <td><%= branchActivity.date %></td>
          <td><%= branchActivity.sender_branch %></td>
          <td><%= branchActivity.receiver_branch %></td>
          <td><%= branchActivity.initiated_account %></td>
          <td><%= branchActivity.receiver_account %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>
