<%- include('partials/header.ejs') %>

<style>
  .customer-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
  }
  .customer-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .customer-details h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .customer-details p {
    font-size: 18px;
    margin: 5px 0;
  }
  .button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #3e8e41;
  }
</style>
<div class="customer-details">
  <h1>Customer Details</h1>
  <p>Name: <%= name %></p>
  <p>Address: <%= address %></p>
  <p>Phone: <%= phone %></p>
  <% if (savingsAccountNo){ %>
  <h3>Savings Details</h3>
  <p>Savings Account: <%= savingsAccountNo %></p>
  <p>Savings Balance: <%= savingsAccountBalance %></p>
  <p>Remaining Withdrawals: <%= withdrawalsLeft %></p>
  <p>Branch ID: <%= savingsBId %></p>
  <% } %> <% if (currentAccountNo){ %>
  <h3>Current A/C Details</h3>
  <p>Current Account: <%= currentAccountNo %></p>
  <p>Current Balance: <%= currentAccountBalance %></p>
  <p>Branch ID: <%= currentBId %></p>

  <% } %>
</div>

<% if (!savingsAccountNo){ %>
<div>
  <form method="POST" action="/add-savings">
    <input type="hidden" name="cusId" value="<%= cusId %>" />
    <button type="submit" class="button">Add Savings Account</button>
  </form>
</div>
<% } %> <% if (!currentAccountNo){ %>
<div>
  <form method="POST" action="/add-current">
    <input type="hidden" name="cusId" value="<%= cusId %>" />
    <button type="submit" class="button">Add Current Account</button>
  </form>
</div>
<% } %> <% if (!fd_exist){ %>
<div>
  <form method="POST" action="/add-fd">
    <input type="hidden" name="cusId" value="<%= cusId %>" />
    <button type="submit" class="button">Add FD</button>
  </form>
</div>
<% } %> <% if (!loan_exist){ %>
<div>
  <form method="POST" action="/add-loan">
    <input type="hidden" name="cusId" value="<%= cusId %>" />
    <button type="submit" class="button">Add LOAN</button>
  </form>
</div>
<% } %> <%- include('partials/footer.ejs') %>
