<%- include('partials/header') %>

<ul class="list-group">
  <% lateLoanPayments.forEach(latepayment => { %>
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div class="items">
        <div class="items-items">
          <p class="mb-1">Payment ID: <%= latepayment.payment_id %></p>
          <p class="mb-1">Loan ID: <%= latepayment.loan_id %></p>
          <p class="mb-1">Settle Date: <%= latepayment.settle_date %></p>
          <p class="mb-1">Due Date: <%= latepayment.due_date %></p>
        </div>
      </div>
    </div>
  </li>
  <% }); %>
</ul>

<%- include('partials/footer') %>
