<%- include('partials/header') %>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-align: center;
  }

  .loan-request-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #left {
    text-align: left;
    margin: 0;
  }

  #right {
    text-align: right;
  }

  a {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  a:hover {
    background-color: #3e8e41;
  }
</style>

<ul>
  <% loansToApprove.forEach(loanRequest => { %>
  <li>
    <div class="loan-request-container">
      <div class="items">
        <div class="items-items">
          <p id="left">Loan Request ID: <%= loanRequest.loan_request_id %></p>
          <p id="left">Loan Type: <%= loanRequest.loan_type %></p>
          <p id="left">Loan Amount: <%= loanRequest.loan_amount %></p>
          <p id="left">Loan Tenure: <%= loanRequest.loan_tenure %></p>
          <p id="left">
            Loan Interest Rate: <%= loanRequest.loan_interest_rate %>
          </p>
          <p id="left">Loan Status: <%= loanRequest.loan_status %></p>
        </div>
        <div id="right">
          <a href="/approve-loan/<%= loanRequest.loan_request_id %>">Approve</a>
        </div>
      </div>
    </div>
  </li>
  <% }); %>
</ul>

<%- include('partials/footer') %>
