<%- include('partials/header') %>


<ul class="list-group">
  <% loansToApprove.forEach(loanRequest => { %>
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p>Customer ID: <%= loanRequest.customer_id %></p>
        <p>Request ID: <%= loanRequest.request_id %></p>
        <p>Loan Amount: <%= loanRequest.loan_amount %></p>
        <p>Customer Name: <%= loanRequest.name %></p>
      </div>
      <div>
        <a href="/approve-loan/<%= loanRequest.loan_request_id %>" class="btn btn-success">Approve</a>
      </div>
    </div>
  </li>
  <% }); %>
</ul>

<%- include('partials/footer') %>
