<%- include('partials/header') %>
<style>
    .loan-container {
        margin: 3rem;
        border-radius: 2rem;
    }
    .loan-heading {
        margin-bottom: 1.5rem;
    }
    .p-loan {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
</style>
<div class="container loan-container bg-white p-4">
    <div class="card">
        <div class="card-header">
            Loan Information
        </div>
        <div class="card-body">
            <h5 class="card-title">Loan ID: <%= loanID %></h5>
            <p class="card-text">Loan Amount: <%= amount %></p>
            <p class="card-text">Remaining Installments: <%= Remins %></p>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
