<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="greeting-dashboard text-white bg-dark p-4 rounded mb-4">
        <h3>Hello</h3>
        <h2><%= name %>,</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-dark w-100" onclick="window.location.href='/fd';">
        Fixed Deposits
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-dark w-100" onclick="window.location.href='/loan';">
        Loans
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="savings-container text-white bg-dark p-4 rounded my-4">
        <div class="savings-items">
          <h3 class="mb-4">Savings Details:</h3>
          <h2>Account No: <%= savingsAccountNo %></h2>
          <h2>Savings Balance: <%= savingsAccountBalance %></h2>
          <h2>Withdrawals left: <%= withdrawalsLeft %></h2>
          <% if (interestRate != undefined) { %>
          <h2>Interest Rate: <%= interestRate %></h2>
          <% } %>
        </div>
        <div class="bank-transfer-button" style="display: flex; justify-content: center;">
          <button
            class="btn btn-secondary w-50 mt-4 "
            onclick="window.location.href='/transfers-savings';"
            style= "width: 100%;"
          >
            Bank Transfers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
