<%- include('partials/header') %>
<style>
  .greeting-dashboard {
    color: white;
    background-color: #1a1a1a;
    padding: 1rem;
    padding-left: 4rem;
    border-radius: 1rem;
    margin: 1rem;
  }

  .loan-fd-container {
    display: flex;
    color: white;
    background-color: #1a1a1a;
    padding: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    margin: 1rem;
  }
  button {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    background-color: #333333;
    color: white;
  }
  .savings-container {
    display: flex;
    color: white;
    background-color: #1a1a1a;
    padding: 2rem;
    padding-left: 2rem;
    border-radius: 1rem;
    margin: 1rem;
  }
  .savings-items {
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
    color: black;
    margin: 1rem;
  }
</style>
<div class="greeting-dashboard">
  <h3>Hello</h3>
  <h2><%= userName %>,</h2>
</div>
<div class="loan-fd-container">
  <Button onclick="window.location.href='/fd';">Fixed Deposits</Button>
  <Button onclick="window.location.href='/loan';">Loans</Button>
</div>
<div class="savings-container">
  <div class="savings-items">
    <h3 style="margin-bottom: 1.5rem">Savings Details:</h3>
    <h2>Account No: <%= savingsAccountNo %></h2>
    <h2>Savings Balance: <%= savingsAccountBalance %></h2>
    <h2>Withdrawals left: <%= WithdrawalsLeft %></h2>
    <h2>Interest Rate: <%= interestRate %></h2>
  </div>
</div>
<%- include('partials/footer') %>
